# PostgreSQL
POSTGRES_DB=emi
POSTGRES_USER=postgresqluser
POSTGRES_PASSWORD=postgressqlpass
POSTGRES_PORT=5432

# API
API_PORT=8080
ASPNETCORE_ENVIRONMENT=Development

# JWT
JWT_KEY=THIS_IS_MY_SUPER_SECRET_KEY_123456
JWT_ISSUER=Co.Appinit.API
JWT_AUDIENCE=Co.Appinit.Client
JWT_EXPIRE_MINUTES=60
